<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-wisth, initial-scale-1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/styles/error.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/registration.css">
    <link rel="stylesheet" href="/styles/mainPage.css">
    <link rel="stylesheet" href="/styles/all.css">
</head>

<body>
    <div class="layoutContainer">
        {{> menu}}

        {{{body}}}

        {{> footer}}

        <div class="snowflakes" aria-hidden="true">
            <div class="snowflake">
            ❅
            </div>
            <div class="snowflake">
            ❅
            </div>
            <div class="snowflake">
            ❆
            </div>
            <div class="snowflake">
            ❄
            </div>
            <div class="snowflake">
            ❅
            </div>
            <div class="snowflake">
            ❆
            </div>
            <div class="snowflake">
            ❄
            </div>
            <div class="snowflake">
            ❅
            </div>
            <div class="snowflake">
            ❆
            </div>
            <div class="snowflake">
            ❄
            </div>
        </div>

    </div>

    <script src="../../api/error.js"></script>
    <script src="../../api/login.js"></script>
    <script src="../../api/registration.js"></script>
</body>
</html>