<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-wisth, initial-scale-1"/>

    <link rel="stylesheet" href="/public/styles/error.css">
    <link rel="stylesheet" href="/public/styles/login.css">
    <link rel="stylesheet" href="/public/styles/mainPage.css">
    <link rel="stylesheet" href="/public/styles/registration.css">
</head>

<body>
    <div class="container">
        {{> header}}

        {{{body}}}

        {{> footer}}

    </div>
</body>
</html>