
<div>
  <div class="homeSnowman">
    <div class="canvas">
        <div class="shadow"></div>
        <div class="base"></div>
        <div class="bowl">
            
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            <div class="snowflake1"></div>
            
            <div class="snow"></div>
            <div class="ground"></div>
            <!-- Something here :) -->
            <div class="something">
            </div>
            <!-- end of something -->
            </div>
            <div class="bowl">
                <div class="reflection"></div>
            </div>
            <div class="base"></div>
    </div>
  </div>
</div>
